.backdrop {
  background-image: url(../../assets/Huntress-smoke.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position-y: -23rem;
  background-position-x: -25rem;
  animation-name: ru;
  animation-duration: 4s;
  background-color:var(--grey-lt);
  background-size: 1000px;
}
.test {
  z-index: 10;
  color:blue;
  background-color: brown;
}
@keyframes ru {
  from {
    background-color:var(--purple-dk);
    background-image: transparent;
    background-position-y: -23rem;
    background-position-x: -50rem;

  }
  to {
    background-color:var(--grey-lt);
    background-image: url(../../assets/Huntress-smoke.png);
    background-position-y: -23rem;
    background-position-x: -25rem;

  }
  
}