/* General */
.backdrop{
  animation-name: ru;
}
.icon {
  font-size: 5rem;
  background-color: blue;
}

/* Category Styles */
.category__container {
  width: 15rem;
  height: max-content;
  background-color: var(--yellow-t);
  border-radius: 2rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 1px var(--purple-dk);
  animation: float 2s ease-in-out infinite;
  display:grid;
  flex-direction: column;
}

.category__text {
  padding:20px;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  color: var(--purple-dk);
  text-align: center;
  position: relative;
}
.category__text {
  padding:20px;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  color: var(--purple-dk);
  text-align: center;
  position: relative;
}

/* Animations */
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes ru {
  from {
    background-color:var(--grey-lt);
    background-image: url(../../assets/rup-removebg-preview.png);
    background-position-y: 15rem;
    background-position-x: -20rem;
    
  }
  to {
    background-color:var(--purple-pl);
    background-image: url(../../assets/rup-removebg-preview.png);
    background-position-y: 15rem;
    background-position-x: -6rem;
  }
  
}