.navBar {
  z-index:1000;
  width: 100%;
  position:relative;
  background-color: aquamarine;
  font-size: x-large;
  color:black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem 2rem 0 0;
}
.navBar > ul{
display: flex;
gap: 1rem;
}