
main {
  /* background-color: yellow; */
  /* width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: auto; */

}


.container-switch {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 2rem;
  margin-bottom:2rem;
  background-color: rgba(var(--purple-pl), 0);

}


.container-top {
  align-items: flex-end;
}
img {
  width: 100%;
}

.button {
  background-color: var(--yellow);
  width: 15rem;
  height: 4rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  font-weight: 900;
  border: none;
  color: var(--pink-pl);
  font-family: 'Noto Sans', sans-serif;
  text-shadow: 3px 2px 1px var(--purple-dk);
  animation-name: catbutton;
  animation-duration: 4s;

  /* border: 4px solid var(--yellow); */
  box-shadow: 0 9px var(--purple-dk);
}
.button:hover {
  background-color: var(--purple-pl);
  background-image: url("../src/assets/button.jpeg");
  color:var(--yellow);
  text-shadow: 3px 2px 1px var(--pink-rd);
  scale: 0.5;
  translate: 0.5;
  box-shadow: 0 9px var(--purple-dk);
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px var(--purple-dk);
  transform: translateY(4px);
}

.button-toggle {
  margin: 2rem;
  padding: 2rem;
  align-self: flex-start;

}

@keyframes catbutton {
  0% {
    background-color: transparent;
    color: transparent;
    text-shadow: 3px 2px 1px transparent;
    box-shadow: 0 9px transparent;

  }
  100% {
    background-color: var(--yellow);
    color: var(--pink-pl);
    text-shadow: 3px 2px 1px var(--purple-dk);
    box-shadow: 0 9px var(--purple-dk);

  }
  
}

.category {
  width: 15rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.2;
  color: rgb(195, 166, 219);
  text-align: center;
  margin-top: 4rem;
  background-color: rgb(201, 124, 124, 0);
  animation: float2 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
