* {
  background-color: blueviolet;
}

main {
  background-color: rgb(136, 18, 165);
  width: 90vw;
  height: 90vh;
  margin: auto;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/assets/brick-wall.png);

}

.container {
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
  background-image: url(../src/assets/gplay.png);
}
img {
  width: 100%;
}

.button {
  background-color: blueviolet;
  width: 15rem;
  height: 5rem;
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: 700;
  border: none;
  color: rgb(195, 166, 219);
  box-shadow: 0 0 10px 5px rgb(158, 94, 214);
}

.category {
  width: 15rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.2;
  color: rgb(195, 166, 219);
  text-align: center;
  margin-top: 4rem;
  background-color: rgb(201, 124, 124, 0);
}
