@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asset&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ul {
  list-style: none;
}

ol {
  list-style: auto;
}
body {
  font-family: "Catamaran", sans-serif;
  position:absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: purple;
  background-image: url(../src/assets/brick-wall.png);
}
html {
  position:absolute;
}
html, body { height: 100%; overflow: hidden}

/* css variable declerarion */
:root {
  --green: rgb(108, 205, 185);
  --pink-rl: rgb(255, 190, 203);
  --pink-rd: rgb(224, 127, 138);
  --pink-rdd: rgb(206, 91, 104);
  --pink-pl: rgb(251, 147, 246);
  --purple-pl: rgb(107,89,163);
  --purple-dk: rgb(61, 50, 92);

  --blue-lt: rgb(132, 210, 222);
  --blue-dk: rgb(109, 205, 219);
  --yellow: rgb(233, 222, 132);
  --yellow-t: rgba(233, 222, 132, 0.5);

  --blood-dk: rgb(56, 10, 13);
  --blood-lt: rgb(122, 17, 17);
  --grey-lt: rgb(35, 51, 65);
  --grey-dk: rgb(23, 23, 35);
  --perk-pl: rgb(92, 35, 112);
  --perk-white: rgb(249, 249, 247);
}

