
.card {
  width: 40vw;
  min-width: 400px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 2rem;
  background-color: var(--purple-pl);
  background-image: url(../../assets/rup-removebg-preview.png);
  background-repeat: no-repeat;
  background-position-y: 15rem;
  background-position-x: -6rem;
  animation-name: ru;
  animation-duration: 4s;
  margin:auto;
  position:relative;
}

@keyframes ru {
  from {
    background-color:var(--purple-dk);
    background-image: url(../../assets/rup-removebg-preview.png);
    background-position-y: 15rem;
    background-position-x: -30rem;
  }
  to {
    background-color:var(--purple-pl);
    background-image: url(../../assets/rup-removebg-preview.png);
    background-position-y: 15rem;
    background-position-x: -6rem;

  }
  
}
