.category__text {
  z-index: 100;
  padding: 20px;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  color: var(--purple-dk);
  text-align: center;
  position: relative;
}
.category__container {
  width: 15rem;
  height: max-content;
  background-color: var(--yellow-t);
  border-radius: 2rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 1px var(--purple-dk);
  animation: float 2s ease-in-out infinite;
  display: grid;
  flex-direction: column;
}

/* Animation */
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
